body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.layer1 {
    position: absolute;
    left: -5%;
    width: 110%;
    background-image: url('../contents/langit.png');
}

.layer2 {
    position: absolute;
    left: -5%;
    width: 120%;
}

.awan {
    position: absolute;
    top: 20%;
    left: 0%;
    width: 50%;
    height: 35%;
    transform: translateY(-50%) translateX(100vw);
    animation: speedMovement 10s infinite ease-in-out; 
}

@keyframes speedMovement {
    from {
        transform: translateY(-50%) translateX(100vw); 
    }
    to {
        transform: translateY(-50%) translateX(-100vw); 
    }
}

.layer3 {
    background-image: url('../contents/landscape.png');
    left: -0.25%;
    top: 0%;
    width: 101%;
    height: 100%;
}

.layer4 {
    position: absolute;
    top: -15%;
    left: 0%;
    width: 100%;
    height: 120%;
    transform: translate(0%, 0%);
    background-image: url('../contents/frontground/tanahdepan.png');
}

.layer5 {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    animation: bodyAnimation 3s infinite ease-in-out; 
}

@keyframes bodyAnimation {
    0% {
        height: 100%; 
        top: 0%;
    }
    50% {
        height: 95%; 
        top: 5%;
    }
    100% {
        height: 100%; 
        top: 0%;
    }
}

.badan {
    position: absolute;
    top: 0%;
    left: 60%;
    width: 40%;
    transform: translate(0%, 0%);
    background-image: url('../contents/body/badan.png');
}

.pala {
    position: absolute;
    top: 10%;
    left: 63.5%;
    width: 34%;
    height: 40%;
    transform: translate(0%, 0%);
    background-image: url('../contents/body/pala.png');
}

.mata {
    position: absolute;
    top: 20%;
    left: 73%;
    width: 12%;
    height: 12%;
    transform: translate(0%, 0%);
    background-image: url('../contents/body/mata.png');
}

.bola-mata {
    position: absolute;
    top: 20%;
    left: 74%;
    width: 12%;
    height: 12%;
    transform: translate(0%, 0%);
    background-image: url('../contents/body/bolamata.png');
}

#blink {
    animation: blinkAnim 3s infinite ease-in-out; 
}

@keyframes blinkAnim {
    0% {
        height: 12%; 
        top: 20%;
    }
    5% {
        height: 1%; 
        top: 25%;
    }
    10% {
        height: 12%; 
        top: 20%;
    }
}

#blinkpupil {
    animation: blinkPupilAnim 3s infinite ease-in-out; 
}

@keyframes blinkPupilAnim {
    0% {
        height: 12%; 
        top: 20%;
        left: 73.4%;
    }
    5% {
        height: 1%; 
        top: 25%;
    }
    10% {
        height: 12%; 
        top: 20%;
    }
    50% {
        left: 72.7%;
    }
    100% {
        left: 73.4%;
    }
}

.topi {
    position: absolute;
    top: 2%;
    left: 71%;
    width: 18%;
    height: 18%;
    transform: translate(0%, 0%);
    background-image: url('../contents/body/topi.png');
    animation: hatAnimation 3s infinite ease-in-out; 
}

@keyframes hatAnimation {
    0% {
        top: 2%;
    }
    5% {
        top: 0%;
    }
    10% {
        top: 2%;
    }
}

.logobelt {
    position: absolute;
    top: 80%;
    left: 77.5%;
    width: 40%;
    width: 8%;
    height: 15%;
    transform: translate(0%, 0%);
    background-image: url('../contents/body/logosabuk.png');
}

.title {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 50%;
    height: 40%;
    transform: translate(0%, 0%);
    background-image: url('../contents/redcatteks.png');
}

.belt-click {
    z-index: 10;
    position: absolute;
    top: 82%;
    left: 77.5%;
    width: 40%;
    width: 8%;
    height: 8%;
    transform: translate(0%, 0%);
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.belt-click:hover {
    cursor: url(../../../all-assets/CURSORHOVER.png) 30 30, crosshair;
}

.motor {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 70%;
    width: 8%;
    height: 16%;
    transform: translate(0%, 0%);
    background-image: url('../contents/motor.png');
}

.police-trigger {
    position: absolute;
    top: 40%;
    left: 37%;
    width: 9%;
    height: 15%;
    transform: translate(0%, 0%);
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.police-trigger:hover {
    cursor: url(../../../all-assets/CURSORHOVER.png) 30 30, crosshair;
}

.popup-container {
    overflow: visible;
    position: absolute;
    display: none;
    right: 37%;
    top:20%;
    z-index: 100;
    width: 23%;
    height: 100%;
}

.popup-background {
    width: 110%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.popup-content {
    width: 90%;
    height: max-content;
    overflow: visible;
    position: absolute;
    top: -6%;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.popup-trigger{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 50%;
    height: 35%;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.popup-trigger:hover {
    cursor: url(../../../all-assets/CURSORHOVER.png) 30 30, crosshair;
}